<div>
    <h2>{{producto.name}}</h2>
    <img src="{{producto.img}}"alt="imagen-producto">
    <br>
    Descripcion: {{producto.desc}}
    <br>
    Stock: {{producto.stock}}
    <hr>
    <button>Borrar</button>
</div>