<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto-Backend</title>
</head>
<body>
    <div class="container">
        <nav>
            <ul>
                <li><a href="/">Index</a></li>
                <li><a href="/productos">Productos</a></li>
                <li><a href="/productos/create">Crear</a></li>

            </ul>
        </nav>
         {{{ body }}}
    </div>
</body>
</html>